<phpunit beStrictAboutOutputDuringTests="true" verbose="true">
	<testsuites>
		<testsuite name="default">
			<file>./tests/mainTest.php</file>
			<file>./tests/noOptionTest.php</file>
			<file>./tests/pxcommandTest.php</file>
			<file>./tests/cleaningTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
